{{ form_start(form) }}
    {{ form_row(form.title, { 'label': 'Название' ,'attr': {'class': 'form-control'} }) }}
    {{ form_row(form.year, { 'label': 'Год' ,'attr': {'class': 'form-control'} }) }}
    {{ form_widget(form) }}
    <button  class="btn btn-outline-primary">{{ button_label|default('Сохранить') }}</button>
{{ form_end(form) }}
